<div class="row">
  <div class="col-sm-12">
    <form>
      <h3>Add an Album</h3>
      <div class="form-group">
        <label for="title">Album Title</label>
        {{input value=title id="title"}}
      </div>
      <div class="form-group">
        <label for="artist">Album Artist</label>
        {{input value=artist id="artist"}}
      </div>
      <div class="form-group">
        <label for="genre">Album Genre</label>
        {{input value=genre id="genre"}}
      </div>
      <div class="form-group">
        <label for="year">Album Year</label>
        {{input value=year id="year" type="number"}}
      </div>
      <div class="form-group">
        <label for="artworkUrl">Album Artwork URL</label>
        {{input value=artworkUrl id="artworkUrl"}}
      </div>

      <button {{action 'saveAlbum'}}>Add Album</button>
    </form>
  </div>
</div>
