<div class="row">
  <div class="col-sm-6 album-cover" style="background-image: url('{{model.artworkUrl}}')">
  </div>
  <div class="col-sm-6">
    <h1>{{model.title}}</h1>
    <h3>{{model.artist}}</h3>
    <h5>{{model.year}} {{model.genre}} Album</h5>
  </div>
</div>
